/* QuizHeader.css */
.page-title-container {
  margin-bottom: 2rem;
}

.page-title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--color-text-primary-light);
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
}
.dark .page-title {
  color: var(--color-text-primary-dark);
}
.page-title:hover {
  text-decoration: underline;
}

.page-subtitle {
  margin-top: 0.5rem;
  color: var(--color-text-secondary-light);
}
.dark .page-subtitle {
  color: var(--color-text-secondary-dark);
}
