/* StudentLayout.css */
.student-dashboard-layout {
  font-family: "Inter", sans-serif;
  background-color: var(--std-background-light);
  color: var(--std-text-light);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  height: 100vh;
}

.dark .student-dashboard-layout {
  background-color: var(--std-background-dark);
  color: var(--std-text-dark);
}

.student-main-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
