/* StudentFeedback.css */
@import "../../styles/variables.css";

.feedback-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  z-index: 1000;
  font-family: "Inter", sans-serif;
}

.feedback-modal {
  background-color: var(--std-card-light);
  border-radius: 0.5rem;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  width: 100%;
  max-width: 36rem;
  max-height: 90vh;
  overflow-y: auto;
}

.dark .feedback-modal {
  background-color: #1e293b;
}
