/* StudentCoursesLayout.css */
.student-courses-view {
  font-family: "Inter", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--std-background-light);
  color: var(--std-text-light);
}

.dark .student-courses-view {
  background-color: var(--std-background-dark);
  color: var(--std-text-dark);
}

.scv-main {
  flex-grow: 1;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.scv-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

@media (min-width: 1024px) {
  .scv-grid {
    grid-template-columns: 1fr 2fr;
  }
}
